<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>资金现状</title>

  <!-- Bootstrap -->
  <link href="../../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/common.css" rel="stylesheet">
  <script src="../../js/adaptation.js"></script>
  <style>
    .text {float: none; margin-top: 0; margin-bottom: 0; color: #fff; text-align: center;}
    .col-center {margin-top: 40px; margin-bottom: 40px;}
    .btn-3b0 {background-color: #3366cc;}
  </style>
  <link rel="stylesheet" href="../../css/configStyle.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="goBack">
          <img src="../../images/goback.png" alt="返回">
        </a>
      </div>
      <p class="text a0 lh27">资金现状</p>
      <p class="text c0 lh17">（资金账号：<span id="accNum">---------</span>)</p>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="clearfix a1 lh39">
    </div>
    
    <div class="row">
      <div class="col-center">
        <a class="btn btn-block btn-3b0" href="future-transfer-query.html">银期转账</a>
      </div>
    </div> 
  </div>
  <script src="../../../js/PB.Api.js"></script>
  <script src="../../../js/jquery-2.2.0.min.js"></script>
  <script src="../../../js/PB.Utils.js"></script>
  <script src="../../js/futures-common.js"></script>
  <script src="../js/future-st.js"></script>
</body>
</html>
