$color1:#3366cc;
$color2:#fe0000;
$color3:#14a238;
$color16:#b6bbc2;
$color4:#1dbf60;
$color5:#f75f5f;
$color15:#ffffff;
$color17:#808086;
$color18:#1a1a2a;
$color22:#f7f7fa;
$color23:#e4e7f0;
$color26:#e6e6ec;
$color28:#dfdfdf;
$color29:#5c90f9;
$color45:#f0f1f2;
$color46:#4c4c55;
$color47:#c0c6cd;
$color48:#f7f8f9;
$color49:#ecf8fd;
$color50:#1757e7;
$color51:#add79a;
$color52: #fb8463;//异常
$color53:#f3faf5;
$color54:#fff2f2;
$color55:#52668c;

