$font10:30px/2;
$font11:24px/2;
$font13:22px/2;
$font14:20px/2;
$font19:18px/2;
$font20:16px/2;
$font23:26px/2;
$font24:34px/2;
$font25:36px/2;
$font26:28px/2;
$font28:42px/2;//加粗
$font29:38px/2;//加粗
$font30:80px/2;
$font32:36px/2;
$font33:32px/2;
$font34:38px/2;
$font35:40px/2;
$font37:44px/2;
$font36:50px/2;
$font82:82px/2;
$font60:60px/2;
