//不换行省略号
@mixin ell() {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//清除浮动
/* clearfix */
@mixin clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
  *height: 1%;
}

//移动端1px(上下border)
@mixin px1-pixel-ratio {
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    &:before {
      content: "";
      pointer-events: none; /* 防止点击触发 */
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: 200%;
      left: 0;
      top: 0;
      border-top: 1px solid #e4e7f0;
      border-bottom: 1px solid #e4e7f0;
      transform: scale(0.5);
      transform-origin: 0 0;
    }
  }
}

//移动端1px(上border)
@mixin top-px1-pixel-ratio {
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    &:before {
      content: "";
      pointer-events: none; /* 防止点击触发 */
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: 200%;
      left: 0;
      top: 0;
      border-top: 1px solid #e4e7f0;
      transform: scale(0.5);
      transform-origin: 0 0;
    }
  }
}

//移动端1px(下border)
@mixin bottom-px1-pixel-ratio {
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    &:before {
      content: "";
      pointer-events: none; /* 防止点击触发 */
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: 200%;
      left: 0;
      top: 0;
      border-bottom: 1px solid #e4e7f0;
      transform: scale(0.5);
      transform-origin: 0 0;
    }
  }
}

@mixin font($font-size) {
  font-size: $font-size;

  [data-dpr = '2'] & {
    font-size: $font-size * 2;
  }

  [data-dpr = '3'] & {
    font-size: $font-size * 3;
  }
}

@function toRem($px) {
  @return $px / 75px * 1rem;
}

@mixin font($font-size) {
  font-size: $font-size;

  [data-dpr = '2'] & {
    font-size: $font-size * 2;
  }

  [data-dpr = '3'] & {
    font-size: $font-size * 3;
  }
}

@function toRem($px) {
  @return $px / 75px * 1rem;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
  *height: 1%;
}

@mixin border-TBottom-color23 {
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    &:before {
      content: "";
      pointer-events: none; /* 防止点击触发 */
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: calc(200% + 1px);
      left: 0;
      top: 0;
      border-bottom: 1px solid $color23;
      transform: scale(0.5);
      transform-origin: 0 0;
      z-index: 1;
    }
  }
}

@mixin border-Bbottom-color23 {
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    &:before {
      content: "";
      pointer-events: none; /* 防止点击触发 */
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: calc(200% - 1px);
      left: 0;
      bottom: 0;
      border-bottom: 1px solid $color23;
      transform: scale(0.5);
      transform-origin: 0 0;
      z-index: 1;
    }
  }
}

@mixin border-TTop-color23 {
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    &:before {
      content: "";
      pointer-events: none; /* 防止点击触发 */
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: calc(200% - 1px);
      left: 0;
      top: 0;
      border-top: 1px solid $color23;
      transform: scale(0.5);
      transform-origin: 0 0;
      z-index: 1;
    }
  }
}

@mixin border-color23 {
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    &:before {
      content: "";
      pointer-events: none; /* 防止点击触发 */
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: calc(200% - 1px);
      left: 0;
      top: 0;
      border: 1px solid $color47;
      transform: scale(0.5);
      transform-origin: 0 0;
      border-radius: toRem(10px);
      z-index: 1;
    }
  }
}

@mixin border-R-color23 {
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    &:before {
      content: "";
      pointer-events: none; /* 防止点击触发 */
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: calc(200% - 1px);
      left: 0;
      top: 0;
      border-right: 1px solid $color47;
      transform: scale(0.5);
      transform-origin: 0 0;
      z-index: 1;
    }
  }
}

%initial {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .pb-common-nav {
    width: 100%;
    position: static;
  }
}

%c18f26 {
  color: $color18;
  font-size: $font26;
}

%c17f23 {
  color: $color17;
  font-size: $font23;
}
