<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>库存信息</title>

  <!-- Bootstrap -->
  <link href="../../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/common.css" rel="stylesheet">
  <script src="../../js/adaptation.js"></script>
  <link href="../../css/configStyle.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" id="nav-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="goBack" class="navbar-brand" href="goBack">
          <img src="../../images/goback.png" alt="返回" />
        </a>
      </div>
      <p class="navbar-text">库存信息</p>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="clearfix a1 lh39">
      <div class="nav-blank1 row"></div>
      <div id="content"></div>
    </div>
  </div>
  <script src="../../../js/PB.Api.js"></script>
  <script src="../../../js/jquery-2.2.0.min.js"></script>
  <script src="../../../js/PB.Utils.js"></script>
  <script src="../js/gold-strg-dt.js"></script>
</body>
</html>
