<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>持仓</title>

  <!-- Bootstrap -->
  <link href="../../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/position.css" rel="stylesheet">
  <style>
    #top-nav {position: fixed; top: 0; width: 100%; z-index: 100;}
    #fund {position: fixed; height: 128px; width: 100%; z-index: 100; top: 10px;}
    #contents {padding-top: 138px; z-index: 10;}
    .details-title {display: block; width: 100%;}
    .details-title p {display: inline-block;}
    #imageBar {padding-top: 0; padding-bottom: 0;}
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="clearfix">
      <div class="nav-blank" style="border-bottom: none;" id="top-nav"></div>
      <div id="fund">
        <div class="row funds-detail">
          <div>
            <p class="b2">总资产</p>
            <p class="b1" id="total">--元</p>
          </div>
          <div>
            <p class="b2">总盈亏</p>
            <p class="b1" id="float">--元</p>
          </div>
        </div>
        <div class="row funds-detail">
          <div>
            <p class="b2">占用保证金</p>
            <p class="b1" id="taken">--元</p>
          </div>
          <div>
            <p class="c2">可用保证金</p>
            <p class="b1" id="available">--元</p>
          </div>
        </div>
      </div>
      <div id="contents"></div>
      <div id="alert" class="text-center a1 hide" style="margin-top: 10px;">--无数据记录--</div>
    </div>
  </div>
  <script src="../../../js/PB.Api.js"></script>    
  <script src="../../../js/react.min.js"></script>
  <script src="../../../js/react-dom.min.js"></script>
  <script src="../../../js/jquery-2.2.0.min.js"></script>
  <script src="../../../js/thenBy.min.js"></script>
  <script src="../../../js/PB.Page.js"></script>
  <script src="../../../js/PB.Utils.js"></script>
  <script src="../js/gold-plugins.js"></script>
  <script src="../js/gold-po.js"></script>
</body>
</html>