<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>库存查询</title>

  <!-- Bootstrap -->
  <link href="../../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/common.css" rel="stylesheet">
  <script src="../../js/adaptation.js"></script>
  <link href="../../css/configStyle.css" rel="stylesheet">
  <style>
    #content .image{padding-top: 17.5px;}
    #content .image img {height: 20px;}
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" id="nav-header">
  </nav>
  
  <div class="container-fluid">
    <div class="clearfix">
      <div id="title">
      </div>
      <div id="content">
      </div> 
      <div id="alert" class="text-center a1 hide" style="margin-top: 10px;">--无数据记录--</div>
    </div>
  </div>
  <script src="../../../js/PB.Api.js"></script>
  <script src="../../../js/react.min.js"></script>   
  <script src="../../../js/react-dom.min.js"></script>
  <script src="../../../js/jquery-2.2.0.min.js"></script>
  <script src="../../../js/PB.Page.js"></script>
  <script src="../../../js/PB.Utils.js"></script>
  <script src="../js/gold-plugins.js"></script>
  <script src="../js/gold-strg.js"></script>
</body>
</html>
