<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title></title>
  <link href="../../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/configStyle.css" rel="stylesheet">
  <link href="../../css/common.css" rel="stylesheet">
  <link href="../css/message.css" rel="stylesheet">
  <script src="../../js/adaptation.js"></script>
</head>
<body>
  <div id="app">
    <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="goBack" class="navbar-brand" onclick="save(event)" id="backBtn"></a>
        </div>
        <p class="navbar-text">设置</p>
      </div>
    </nav>
    <div class="setting">
        <div class="fc17 fs23">消息提醒设置</div>
        <ul id="ul" class="fs33 fc18"></ul>
    </div>
  </div>
  <script src="../../../js/PB.Api.js"></script>
  <script src="../../../js/jquery-2.2.0.min.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/setting.js"></script>
</body>
</html>
