<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>资金转出</title>

  <!-- Bootstrap -->
  <link href="../../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/common.css" rel="stylesheet">
  <script src="../../js/adaptation.js"></script>
  <link href="../../css/configStyle.css" rel="stylesheet">
  <style>
    .col-center {
      margin-top: 52px;
    }
    .btn-3b0, .btn-3d0 {background-color: #3366cc;}
    #indicate {width: 60%; position: absolute; top: 150px; left: 20%;}
    #indicate .btn-3b0 {background-color: #e4e4e4; color: #000; height: 50px; line-height: 40px;}
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="goBack" class="navbar-brand">
          <img src="../../images/goback.png" alt="返回">
        </a>
      </div>
      <p class="navbar-text">资金转出</p>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="clearfix">
      <div class="row content">
        <div class="col-xs-3 left-title">
          转出账户
        </div>
        <div class="col-xs-6 select bank-div">
          <div id="bank" class="text-center"></div>
          <input id="bank-name" type="hidden" value="">
          <input id="bank-val" type="hidden" value="">
          <input id="bank-code" type="hidden" value="">
          <input id="bank-currency" type="hidden" value="">
          <input id="fund-account" type="hidden" value="">
          <input id="bank-center" type="hidden" value="">
        </div>
        <div class="col-xs-3 select bank-div">
          <img src="../../images/select.png" alt="">
        </div>
      </div>
      <div class="row select-options">
        <ul class="col-xs-6 option-ul hide" id="bank-ul">
        </ul>
      </div>
      <div class="row content divide">
        <div class="col-xs-3 left-title">
          选择币种
        </div>
        <div class="col-xs-6 select currency-div">
          <div id="currency" class="text-center"></div>
          <input type="hidden" id="currency-unit" value="">
        </div>
        <div class="col-xs-3 select currency-div">
          <img src="../../images/select.png" alt="">
        </div>
      </div>
      <div class="row select-options">
        <ul class="col-xs-6 option-ul hide" id="currency-ul">
          <!--<li value="cny" id="currency-0" class="hover">人民币</li>
          <li value="usd" id="currency-1" class="">美元</li>
          <li value="hkd" id="currency-2" class="">港币</li>-->
        </ul>
      </div>
      <div class="row content divide">
        <div class="col-xs-4 left-title">
          转出金额
        </div>
        <div class="col-xs-8 right-input">
          <input type="number" placeholder="请输入转出金额" id="inAmount">
        </div>
      </div>
      <div class="row content" id="bankPwd">
        <div class="col-xs-4 left-title">
          银行密码
        </div>
        <div class="col-xs-8 right-input">
          <input type="password" placeholder="请输入银行密码" id="inBankPwd">
        </div>
      </div>
      <div class="row content" id="moneyPwd">
        <div class="col-xs-4 left-title">
          资金密码
        </div>
        <div class="col-xs-8 right-input">
          <input type="password" placeholder="请输入资金密码" id="inFundPwd">
        </div>
      </div>
      <div class="row">
        <div class="col-center">
          <input type="button" class="btn btn-block btn-3b0" value="确定转出" onclick="confirmIn();">
        </div>
      </div>
      <div class="c3 hide" id="error"></div>
      <div class="my-modal hide">
        <div class="my-modal-backdrop"></div>
        <div class="my-modal-dialog c1 fundsIn-dialog">
          <p class="b1 text-center">转出确认</p>
          <div class="fundsIn-title">
            <p><span>转出账户：</span><span id="result-account"></span></p>
            <p><span>存管银行：</span><span id="result-bank"></span></p>
            <p><span>转出金额：</span><span id="result-amount"></span></p>
          </div>
          <div class="row btn-bottom" id="logout-modal">
            <a class="btn btn-3d0 fundsIn-btn" onclick="completeOut();">确定</a>
            <input class="btn btn-6d1" type="button" value="取消" onclick="cancelIn();"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-center hide" id="indicate">
    <a class="btn btn-block btn-3b0"></a>
  </div>
  <script src="../../../js/PB.Api.js"></script>
  <script src="../../../js/jquery-2.2.0.min.js"></script>
  <script src="../../../js/PB.Utils.js"></script>
  <script src="../js/option-tr.js"></script>
  <script>
      fundOutView();
    fundInOutView();
    ready();
  </script>
</body>
</html>
