<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>出入金</title>

  <!-- Bootstrap -->
  <link href="../../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/common.css" rel="stylesheet">
  <script src="../../js/adaptation.js"></script>
  <!--<link rel="stylesheet" href="../../css/configStyle.css">-->
  <link href="../../css/configStyle.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="goBack" class="navbar-brand" href="goBack">
          <img src="../../images/goback.png" alt="返回">
        </a>
      </div>
      <p class="navbar-text">出入金</p>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="clearfix">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="./spot-bk.html">银行余额<img class="more" src="../../images/more.png" alt="详细"></a></li>
        <li><a href="./spot-in.html">资金转入<img class="more" src="../../images/more.png" alt="详细"></a></li>
        <li><a href="./spot-out.html">资金转出<img class="more" src="../../images/more.png" alt="详细"></a></li>
        <li><a href="./spot-record.html">转账记录<img class="more" src="../../images/more.png" alt="详细"></a></li>
      </ul>
    </div>
  </div>
  <script src="../../../js/PB.Api.js"></script>
<script src="../../../js/jquery-2.2.0.min.js"></script>
<script>
  if(typeof pbE == 'undefined'){
    $('#goBack').click(function () {
      location.href = document.referrer;
    })
  }else{
    $('#goBack').click(function () {
      location.href = 'goBack';
    })
  }
</script>
</body>
</html>
